/*
Estilos da página index.html
*/
center {
    text-align: center;
}

.container
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}



/*
Estilos da página contato.html
*/